data/*
data/**
data/***
analysis/00_fastqc/fastqc_report/*
analysis/00_fastqc/fastqc_report/**
figures/*
figures/**
.Rproj.user
*/*.RData
*.RData
analysis/00_multiqc/its/*
/ASV_tables/ven/analysis/00_multiqc/fastq
/ASV_tables/ven/analysis/00_multiqc/multiqc_report/multiqc_data
*.fq
*.fastq
*.fq.gzip
*.fastq.gzip
*.Rproj
